<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeleniumWebDriverTemplateProject.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SeleniumWebDriverTemplateProject.GeneralSettings>
            <setting name="BaseURL" serializeAs="String">
                <value>http://store.demoqa.com/</value>
            </setting>
            <setting name="TestsToRunOnSingleWebDriverInstance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimeoutThreshold" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ForcedWait" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="FirebugVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="FirebugPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AndoridWaitCoefficient" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>FranzFischbach@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>pass1234</value>
            </setting>
        </SeleniumWebDriverTemplateProject.GeneralSettings>
    </userSettings>
</configuration>